<h2>Products:</h2>
<dl>
    <ul id = "toAdd">
    {{#each product}}
    <div id={{id}}>
    <li><dt><b>{{title}}</b></dt></li>
    {{#each pair}}
    {{#if key}}
    <dd>{{key}}: {{value}}</dd>
    {{/if}}
    {{/each}}
    </div>
    {{/each}}
    </ul>
</dl>

<script src="/socket.io/socket.io.js"></script>
<script src="js/realTimeProducts.js"></script>